@import "../../vars.css";

.container {
  position: relative;
  background-color: rgba(12, 12, 12, 0.6); /* Dark background with transparency */
  border-radius: 15px;
  padding: 50px;
  margin-top: 50px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  opacity: 0; /* Initially hide the container */
  transition: opacity 1s ease-in-out;
}

.title {
  color: var(--color-text); /* Color defined in vars.css */
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  gap: 24px;
}

.aboutImage {
  width: 35%;
  border-radius: 15px;
  opacity: 0; /* Initially hide the image */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%); /* Start offscreen left */
}

.description {
  flex: 1;
  color: var(--color-text); /* Color defined in vars.css */
  opacity: 0; /* Initially hide the description */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  transform: translateX(-100%); /* Start offscreen left */
}

.subTitle {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--color-primary); /* Color defined in vars.css */
}

.text {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.educationList {
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0; /* Initially hide the education list */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  transform: translateX(100%); /* Start offscreen right */
}

.educationItem {
  margin-bottom: 20px;
  opacity: 0; /* Initially hide each education item */
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  transform: translateX(100%); /* Start offscreen right */
}

.degree {
  font-size: 22px;
  font-weight: 600;
  color: #764fb5; /* Shade of violet */
}

.institution {
  font-size: 20px;
  color: var(--color-text); /* Color defined in vars.css */
}

@media screen and (max-width: 830px) {
  .container {
    background-color: transparent; /* Transparent background on smaller screens */
    padding: 20px;
  }

  .content {
    flex-direction: column;
  }

  .aboutImage {
    display: none;
  }

  .description {
    margin-top: 20px;
  }

  .educationList {
    opacity: 1; /* Ensure education list is visible on smaller screens */
    transform: translateX(0); /* Ensure education list is positioned correctly on smaller screens */
  }

  .educationItem {
    opacity: 1; /* Ensure each education item is visible on smaller screens */
    transform: translateX(0); /* Ensure each education item is positioned correctly on smaller screens */
  }
}

/* Fade-in animations */
.fadeIn {
  opacity: 1;
}

.visible .aboutImage {
  opacity: 1;
  transform: translateX(0); /* Move in from left */
}

.visible .description {
  opacity: 1;
  transform: translateX(0); /* Move in from left */
}

.visible .educationList {
  opacity: 1;
  transform: translateX(0); /* Move in from right */
}

.visible .educationItem {
  opacity: 1;
  transform: translateX(0); /* Move in from right */
}

.leave .aboutImage {
  opacity: 0;
  transform: translateX(-100%); /* Move out to the left */
}

.leave .description {
  opacity: 0;
  transform: translateX(-100%); /* Move out to the left */
}

.leave .educationList {
  opacity: 0;
  transform: translateX(100%); /* Move out to the right */
}

.leave .educationItem {
  opacity: 0;
  transform: translateX(100%); /* Move out to the right */
}
